<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="nav-bar"></div>

    <div id="app">
      <div class="product">
        <div class="product-image">
          <a :href="link" target="_blank">
            <img v-bind:src="image" />
          </a>
        </div>

        <div class="product-info">
          <h1>{{ product }}</h1>
          <p v-if="inStock">In Stock</p>
          <p v-else>Out of Stock</p>
          <p v-show="onSale">On Sale!</p>

          <ul>
            <li v-for="detail in details">{{detail}}</li>
          </ul>

          <ul>
            <li v-for="size in sizes">{{size}}</li>
          </ul>

          <div v-for="variant in variants" :key="variant.variantID">
            <p>{{variant.variantColor}}</p>
          </div>
        </div>
      </div>

      <h2>{{ description }}</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
  </body>
</html>

<!--
    v-bind Examples
    ==================
    :alt="description"
    :href="url"
    :title="toolTip"
    :class="isActive"
    :style="isStyled"
    :disabled="isDisabled"
-->
